16. Custom Auth
17. JSON Web Token
18. Throttling
19. Filtering
20. Search Filter
21. Ordering Filter
22. Page Number Filtering
23. Limit Offset Pagination
24. Cursor Pagination
25. Serializer Relation
26. Hyperlinked Model
27. Nested Serializer
28. Django API Project